# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.db
*.sqlite3

# Environment variables
.env
.env.*
*.env

# Flask specific
instance/
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Unit test / coverage reports
